<div class="grid grid-flow-row gap-x-4" [ngClass]="gridClass">

  @if (type !== 'checkbox') {
    <div class="tooltip" [attr.data-tip]="toolTip">
      <label class="label" for="{{inputId}}">{{ label }}</label>
    </div>
  }

  <div class="flex flex-col">
    <!-- type cannot be dynamically set because of how Angular internally creates stuff. -->
    <!-- Therefore, we do conditional rendering as a workaround to avoid that numbers are string values in the .ts classes   -->
    @if (type === 'number') {
      <input
        [id]="inputId"
        type="number"
        [formControl]="control"
        class="input"
        [ngClass]="{'input-error': hasErrors()}"/>
    } @else if (type === 'radio') {
      <div class="flex flex-row gap-4">
        @for (option of options; track option) {
          <div class="flex items-start">
            <input
              type="radio"
              [id]="inputId + '_' + option"
              [value]="option"
              [formControl]="control"
              class="radio radio-xs"
            />
            <label [for]="inputId + '_' + option" class="text-sm ml-1">{{ option }}</label>
          </div>
        }
      </div>
    } @else if (type === 'checkbox') {
      <div class="tooltip tooltip-right" [attr.data-tip]="toolTip">
        <label class="label">
          <input
            [id]="inputId"
            type="checkbox"
            [formControl]="control"
            class="checkbox checkbox-xs checkbox-neutral"/>
          {{ label }}
        </label>
      </div>
    } @else {
      <input
        [id]="inputId"
        type="text"
        [formControl]="control"
        class="input"
        [ngClass]="{'input-error': hasErrors()}"/>
    }

    @if (hasErrors()) {
      <div class="text-error text-xs mt-1">
        <span>{{ errorHint() }}</span>
      </div>
    }
  </div>
</div>
