<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-2">Gradle Kotlin Template</h2>
  <p class="mb-4 text-gray-600">
    A modern Gradle Kotlin DSL based template for creating LibGDX projects using Kotlin.
    <br>
    It uses a version catalog and buildSrc directory for convention plugins.
    <br>
    Configure your project settings below and click on <strong>Download template .zip</strong> to get the template.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-[auto_1fr]">
    <div>
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 md:mt-5">
        <legend class="fieldset-legend">Settings</legend>

        <form [formGroup]="form" class="grid grid-cols-1 gap-y-2 w-sm">
          <app-form-field
            label="Project Name"
            input-id="projectName"
            [form-control]="form.get('projectName')"
            type="text"
            gridClass="grid-cols-[0.2fr_0.8fr]"
          />

          <app-form-field
            label="Main class"
            input-id="mainClassName"
            [form-control]="form.get('mainClassName')"
            type="text"
            gridClass="grid-cols-[0.2fr_0.8fr]"
          />

          <app-form-field
            label="Package"
            input-id="packageName"
            [form-control]="form.get('packageName')"
            type="text"
            gridClass="grid-cols-[0.2fr_0.8fr]"
          />

          <app-form-field
            label="Java Version"
            input-id="javaVersion"
            [form-control]="form.get('javaVersion')"
            type="radio"
            [options]="javaVersionOptions"
            gridClass="grid-cols-[0.2fr_0.8fr]"
          />

          <div class="divider divider-neutral">Launcher</div>

          <div class="grid grid-cols-3 gap-x-4 gap-y-2">
            <app-form-field
              label="Desktop"
              input-id="desktopLauncher"
              [form-control]="form.get('desktopLauncher')"
              type="checkbox"
            />

            <div class="tooltip" data-tip="Launcher to run your game in the browser">
              <app-form-field
                label="TeaVM"
                input-id="teaVmLauncher"
                [form-control]="form.get('teaVmLauncher')"
                type="checkbox"
              />
            </div>
          </div>

          <div class="divider divider-neutral">Dependencies</div>

          <div class="grid grid-cols-3 gap-x-4 gap-y-2">
            <app-form-field
              label="Gdx-AI"
              input-id="gdxAiDep"
              [form-control]="form.get('gdxAiDep')"
              type="checkbox"
            />

            <div class="tooltip" data-tip="A 2D physics engine">
              <app-form-field
                label="Box2D"
                input-id="b2dDep"
                [form-control]="form.get('b2dDep')"
                type="checkbox"
              />
            </div>

            <app-form-field
              label="Freetype Font"
              input-id="freetypeDep"
              [form-control]="form.get('freetypeDep')"
              type="checkbox"
            />

            <div class="tooltip col-span-3" data-tip="An entity component system for Kotlin">
              <app-form-field
                label="Fleks"
                input-id="fleksDep"
                [form-control]="form.get('fleksDep')"
                type="checkbox"
              />
            </div>

            <div class="tooltip tooltip-right" data-tip="extensions for the Tiled map editor">
              <app-form-field
                label="KTX Tiled"
                input-id="ktxTiledDep"
                [form-control]="form.get('ktxTiledDep')"
                type="checkbox"
              />
            </div>

            <app-form-field
              label="KTX Preferences"
              input-id="ktxPrefsDep"
              [form-control]="form.get('ktxPrefsDep')"
              type="checkbox"
            />

            <app-form-field
              label="KTX I18n"
              input-id="ktxI18nDep"
              [form-control]="form.get('ktxI18nDep')"
              type="checkbox"
            />
          </div>

        </form>
      </fieldset>

      @if (errorDetails) {
        <app-error-alert [errorDetails]="errorDetails"></app-error-alert>
      }

      <button class="btn btn-secondary mt-2"
              (click)="downloadTemplate()"
              [disabled]="form.invalid">
        Download template .zip
      </button>

    </div>
  </div>
</div>
