<div class="container p-4">
  <h2 class="text-2xl font-bold mb-2">Spritesheet Splitter</h2>
  <p class="text-gray-600">Split a spritesheet into individual image tiles.
    <br>
    This tool offers two ways to split your spritesheet:
  </p>
  <ul class="list-disc list-inside">
    <li><strong>Split by num tiles</strong>: Divides your spritesheet into a grid based on the number of rows and
      columns you specify.
    </li>
    <li><strong>Split by size</strong>: Divides your spritesheet based on the dimensions of a single tile (e.g., 32x32
      pixels).
    </li>
  </ul>
  <p class="mb-4 text-gray-600">
    Upload your spritesheet first, then configure the settings and click on <strong>Split Image</strong> to generate the
    individual tiles. Note: When splitting by size, any partial tiles at the edges will be ignored.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-6">
    <div>
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-md border p-4 md:mt-5">
        <legend class="fieldset-legend">Settings</legend>

        <form [formGroup]="form" class="grid grid-cols-2 gap-x-4 gap-y-2">
          <label class="btn btn-secondary col-span-2">
            Upload spritesheet
            <input type="file" class="hidden" accept="image/*" (change)="onFileSelected($event)">
          </label>

          <div class="col-span-2 mb-2">
            <app-form-field
              label="Split mode"
              input-id="splitMode"
              [form-control]="form.get('splitMode')"
              type="radio"
              [options]="splitModeOptions"
              gridClass="grid-cols-[0.25fr_0.75fr]"
            />
          </div>

          @if (splitMode === 'num tiles') {
            <app-form-field
              label="Num tiles on x-axis"
              input-id="numTilesX"
              [form-control]="form.get('numTilesX')"
              type="number"
            />

            <app-form-field
              label="Num tiles on y-axis"
              input-id="numTilesY"
              [form-control]="form.get('numTilesY')"
              type="number"
            />
          } @else {
            <app-form-field
              label="Tile width (px)"
              input-id="tileSizeWidth"
              [form-control]="form.get('tileSizeWidth')"
              type="number"
            />

            <app-form-field
              label="Tile height (px)"
              input-id="tileSizeHeight"
              [form-control]="form.get('tileSizeHeight')"
              type="number"
            />
          }

          <app-form-field
            label="Ignore first n tiles"
            input-id="ignoreFirstN"
            [form-control]="form.get('ignoreFirstN')"
            type="number"
          />

          <app-form-field
            label="Ignore last n tiles"
            input-id="ignoreLastN"
            [form-control]="form.get('ignoreLastN')"
            type="number"
          />

          <app-form-field
            label="Tiles base name"
            input-id="tilesBaseFileName"
            [form-control]="form.get('tilesBaseFileName')"
            type="text"
          />

          <div class="flex justify-end">
            <button class="btn btn-primary"
                    (click)="splitImage()"
                    [disabled]="!selectedImage || form.invalid">
              Split Image
            </button>
          </div>
        </form>
      </fieldset>

      @if (errorDetails) {
        <app-error-alert [errorDetails]="errorDetails"></app-error-alert>
      }

      <button class="btn btn-secondary mt-2"
              (click)="downloadSplitTiles()"
              [disabled]="splitTiles.length === 0">
        Download tiles as ZIP
      </button>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-2">Original Image:</h3>
      @if (selectedImage) {
        <img [src]="selectedImage" alt="Original Spritesheet"
             class="max-w-[300px] max-h-[300px] w-auto h-auto rounded border shadow">
      } @else {
        <div class="skeleton h-32 w-32"></div>
      }
    </div>
  </div>

  <div class="mt-6">
    <h3 class="text-xl font-semibold mb-2">{{ tilesBaseFileName }} Images:</h3>
    @if (splitTiles.length > 0) {
      <div class="grid gap-2"
           [style.grid-template-columns]="'repeat(' + (genTilesX) + ', minmax(0, 1fr))'"
      >
        @for (tile of splitTiles; track $index) {
          <div class="border rounded p-1 bg-base-200">
            <img [src]="tile" [alt]="tilesBaseFileName + $index" class="w-full h-auto">
            <div class="text-center text-xs mt-1">{{ tilesBaseFileName }}_{{ $index }}</div>
          </div>
        }
      </div>
    } @else if (selectedImage) {
      <p class="text-gray-500">Click the Split Image button to generate the tiles.</p>
      <div class="skeleton h-32 w-32"></div>
    } @else {
      <div class="skeleton h-32 w-32"></div>
    }
  </div>
</div>
