<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Tileset Extruder</h2>

  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Settings</legend>

    <div class="grid grid-cols-4 gap-x-4 gap-y-2">
      <label class="label" for="tileWidth">Tile Width</label>
      <input id="tileWidth" type="number" class="input" [(ngModel)]="tileWidth" (ngModelChange)="onSettingsChange()">

      <label class="label" for="tileHeight">Tile Height</label>
      <input id="tileHeight" type="number" class="input" [(ngModel)]="tileHeight" (ngModelChange)="onSettingsChange()">

      <label class="label" for="margin">Margin</label>
      <input id="margin" type="number" class="input" [(ngModel)]="margin" (ngModelChange)="onSettingsChange()">

      <label class="label" for="spacing">Spacing</label>
      <input id="spacing" type="number" class="input" [(ngModel)]="spacing" (ngModelChange)="onSettingsChange()">

      <div class="col-span-4">
        <label class="label" for="extrusion">Extrusion:</label>
        <input id="extrusion" type="number" class="input" [(ngModel)]="extrusion" (ngModelChange)="onSettingsChange()">
      </div>
    </div>
  </fieldset>

  <div class="mb-6 mt-4 flex flex-wrap gap-4 items-center">
    <label class="btn btn-primary">
      Upload tileset
      <input type="file" class="hidden" accept="image/*" (change)="onFileSelected($event)">
    </label>

    <button class="btn btn-secondary"
            (click)="downloadExtrudedImage()"
            [disabled]="!extrudedImageUrl">
      Download extruded tileset
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <h3 class="text-xl font-semibold mb-2">Original Image:</h3>
      @if (selectedImage) {
        <img [src]="selectedImage" alt="Original Tileset" class="max-w-full h-auto rounded border shadow">
      } @else {
        <div class="skeleton h-32 w-32"></div>
      }
    </div>
    <div>
      <h3 class="text-xl font-semibold mb-2">Extruded Image:</h3>
      @if (extrudedImageUrl) {
        <img [src]="extrudedImageUrl" alt="Extruded Tileset" class="max-w-full h-auto rounded border shadow">
      } @else if (selectedImage) {
        <p class="text-gray-500">Processing or waiting for parameters...</p>
        <div class="skeleton h-32 w-32"></div>
      } @else {
        <div class="skeleton h-32 w-32"></div>
      }
    </div>
  </div>
</div>
