<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-2">Tileset Extruder</h2>
  <p class="mb-4 text-gray-600">Prevent texture bleeding in tiled games by adding padding around each tile in your tileset.
    <br>
    This ensures clean rendering when tiles are placed next to each other in a game world.
    <br>
    Upload your tileset first, then configure the settings and click on <strong>Extrude</strong> to generate the
    extruded tileset.</p>

  <div class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-6">
    <div>
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 md:mt-5">
        <legend class="fieldset-legend">Settings</legend>

        <div class="grid grid-cols-4 gap-x-4 gap-y-2">
          <label class="btn btn-secondary col-span-4">
            Upload tileset
            <input type="file" class="hidden" accept="image/*" (change)="onFileSelected($event)">
          </label>

          <label class="label" for="tileWidth">Tile Width</label>
          <input id="tileWidth" type="number" class="input" [(ngModel)]="tileWidth">

          <label class="label" for="tileHeight">Tile Height</label>
          <input id="tileHeight" type="number" class="input" [(ngModel)]="tileHeight">

          <label class="label" for="margin">Margin</label>
          <input id="margin" type="number" class="input" [(ngModel)]="margin">

          <label class="label" for="spacing">Spacing</label>
          <input id="spacing" type="number" class="input" [(ngModel)]="spacing">

          <label class="label" for="extrusion">Extrusion:</label>
          <input id="extrusion" type="number" class="input" [(ngModel)]="extrusion">

          <div class="flex justify-end col-span-2">
            <button class="btn btn-primary"
                    (click)="extrudeImage()"
                    [disabled]="!selectedImage">
              Extrude
            </button>
          </div>
        </div>
      </fieldset>

      @if (errorDetails) {
        <app-error-alert [errorDetails]="errorDetails"></app-error-alert>
      }

      <button class="btn btn-secondary mt-2"
              (click)="downloadExtrudedImage()"
              [disabled]="!extrudedImageUrl">
        Download extruded tileset
      </button>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-2">Original Tileset:</h3>
      @if (selectedImage) {
        <img [src]="selectedImage" alt="Original Tileset"
             class="max-w-[300px] max-h-[300px] w-auto h-auto rounded border shadow">
      } @else {
        <div class="skeleton h-32 w-32"></div>
      }
    </div>
  </div>

  <div class="mt-6">
    <h3 class="text-xl font-semibold mb-2">Extruded Tileset:</h3>
    @if (extrudedImageUrl) {
      <img [src]="extrudedImageUrl" alt="Extruded Tileset"
           class="max-w-[600px] max-h-[600px] w-auto h-auto rounded border shadow">
    } @else if (selectedImage) {
      <p class="text-gray-500">Click the Extrude button to generate the extruded image.</p>
      <div class="skeleton h-32 w-32"></div>
    } @else {
      <div class="skeleton h-32 w-32"></div>
    }
  </div>
</div>
