<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-2">Tileset Extruder</h2>
  <p class="mb-4 text-gray-600">Prevent texture bleeding in tiled games by adding padding around each tile in your tileset.
    <br>
    This ensures clean rendering when tiles are placed next to each other in a game world.
    <br>
    Upload your tileset first, then configure the settings and click on <strong>Extrude</strong> to generate the
    extruded tileset.</p>

  <div class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-6">
    <div>
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 md:mt-5">
        <legend class="fieldset-legend">Settings</legend>

        <form [formGroup]="form" class="grid grid-cols-4 gap-x-4 gap-y-2">
          <label class="btn btn-secondary col-span-4">
            Upload tileset
            <input type="file" class="hidden" accept="image/*" (change)="onFileSelected($event)">
          </label>

          <label class="label" for="tileWidth">Tile Width</label>
          <div class="flex flex-col">
            <input
              id="tileWidth"
              type="number"
              formControlName="tileWidth"
              class="input"
              [ngClass]="{'input-error': form.get('tileWidth')?.invalid && (form.get('tileWidth')?.touched || form.get('tileWidth')?.dirty)}">
            @if (form.get('tileWidth')?.invalid && (form.get('tileWidth')?.touched || form.get('tileWidth')?.dirty)) {
              <div class="text-error text-xs mt-1">
                @if (form.get('tileWidth')?.errors?.['required']) {
                  <span>This field is required</span>
                } @else if (form.get('tileWidth')?.errors?.['min']) {
                  <span>Value must be at least 1</span>
                } @else if (form.get('tileWidth')?.errors?.['notAnInteger']) {
                  <span>Value must be an integer</span>
                }
              </div>
            }
          </div>

          <label class="label" for="tileHeight">Tile Height</label>
          <div class="flex flex-col">
            <input
              id="tileHeight"
              type="number"
              formControlName="tileHeight"
              class="input"
              [ngClass]="{'input-error': form.get('tileHeight')?.invalid && (form.get('tileHeight')?.touched || form.get('tileHeight')?.dirty)}">
            @if (form.get('tileHeight')?.invalid && (form.get('tileHeight')?.touched || form.get('tileHeight')?.dirty)) {
              <div class="text-error text-xs mt-1">
                @if (form.get('tileHeight')?.errors?.['required']) {
                  <span>This field is required</span>
                } @else if (form.get('tileHeight')?.errors?.['min']) {
                  <span>Value must be at least 1</span>
                } @else if (form.get('tileHeight')?.errors?.['notAnInteger']) {
                  <span>Value must be an integer</span>
                }
              </div>
            }
          </div>

          <label class="label" for="margin">Margin</label>
          <div class="flex flex-col">
            <input
              id="margin"
              type="number"
              formControlName="margin"
              class="input"
              [ngClass]="{'input-error': form.get('margin')?.invalid && (form.get('margin')?.touched || form.get('margin')?.dirty)}">
            @if (form.get('margin')?.invalid && (form.get('margin')?.touched || form.get('margin')?.dirty)) {
              <div class="text-error text-xs mt-1">
                @if (form.get('margin')?.errors?.['notAnInteger']) {
                  <span>Value must be an integer</span>
                }
              </div>
            }
          </div>

          <label class="label" for="spacing">Spacing</label>
          <div class="flex flex-col">
            <input
              id="spacing"
              type="number"
              formControlName="spacing"
              class="input"
              [ngClass]="{'input-error': form.get('spacing')?.invalid && (form.get('spacing')?.touched || form.get('spacing')?.dirty)}">
            @if (form.get('spacing')?.invalid && (form.get('spacing')?.touched || form.get('spacing')?.dirty)) {
              <div class="text-error text-xs mt-1">
                @if (form.get('spacing')?.errors?.['notAnInteger']) {
                  <span>Value must be an integer</span>
                }
              </div>
            }
          </div>

          <label class="label" for="extrusion">Extrusion</label>
          <div class="flex flex-col">
            <input
              id="extrusion"
              type="number"
              formControlName="extrusion"
              class="input"
              [ngClass]="{'input-error': form.get('extrusion')?.invalid && (form.get('extrusion')?.touched || form.get('extrusion')?.dirty)}">
            @if (form.get('extrusion')?.invalid && (form.get('extrusion')?.touched || form.get('extrusion')?.dirty)) {
              <div class="text-error text-xs mt-1">
                @if (form.get('extrusion')?.errors?.['required']) {
                  <span>This field is required</span>
                } @else if (form.get('extrusion')?.errors?.['min']) {
                  <span>Value must be at least 1</span>
                } @else if (form.get('extrusion')?.errors?.['notAnInteger']) {
                  <span>Value must be an integer</span>
                }
              </div>
            }
          </div>

          <div class="flex justify-end col-span-2">
            <button class="btn btn-primary"
                    (click)="extrudeImage()"
                    [disabled]="!selectedImage || form.invalid">
              Extrude
            </button>
          </div>
        </form>
      </fieldset>

      @if (errorDetails) {
        <app-error-alert [errorDetails]="errorDetails"></app-error-alert>
      }

      <button class="btn btn-secondary mt-2"
              (click)="downloadExtrudedImage()"
              [disabled]="!extrudedImageUrl">
        Download extruded tileset
      </button>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-2">Original Tileset:</h3>
      @if (selectedImage) {
        <img [src]="selectedImage" alt="Original Tileset"
             class="max-w-[300px] max-h-[300px] w-auto h-auto rounded border shadow">
      } @else {
        <div class="skeleton h-32 w-32"></div>
      }
    </div>
  </div>

  <div class="mt-6">
    <h3 class="text-xl font-semibold mb-2">Extruded Tileset:</h3>
    @if (extrudedImageUrl) {
      <img [src]="extrudedImageUrl" alt="Extruded Tileset"
           class="max-w-[600px] max-h-[600px] w-auto h-auto rounded border shadow">
    } @else if (selectedImage) {
      <p class="text-gray-500">Click the Extrude button to generate the extruded image.</p>
      <div class="skeleton h-32 w-32"></div>
    } @else {
      <div class="skeleton h-32 w-32"></div>
    }
  </div>
</div>
